<!DOCTYPE html>
<html>
    <head>
        <title>CourseTime</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>

    <body>
        <h2 style="text-align: center">CourseTime</h2>
        <form method="POST" style="display: flex; justify-content: center;">
            <input name="text" style="margin-right: 5px; width: 400px; font-family: Montserrat, sans-serif; font-weight: 500;">
            <input type="submit" style="width: 100px; height: 25px;">
        </form>
    </body>
</html>